@model CourseApplication.BLL.VMs.Identity.Register

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2 class="my-3">Personal cabinet</h2>
            <h4>Account personal data</h4>
            <form method="post" asp-controller="Account" asp-action="Register">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Email"></label><br />
                    <input class="form-control" asp-for="Email" placeholder="Your Email" value="@User.Identity.Name"/>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label><br />
                    <input class="form-control" asp-for="Name" placeholder="Your Username" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label><br />
                    <input class="form-control" asp-for="Password" placeholder="Your password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm"></label><br />
                    <input class="form-control" asp-for="PasswordConfirm" placeholder="Retype your password here" />
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Sign up" />
                </div>
            </form>
        </div>
    </div>
</div>