@model CourseApplication.BLL.VMs.UserDeliveryData.UserDeliveryDataCreate

@{
    ViewData["Title"] = "Add delivery data";
}

<h1>Add delivery data</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="UserDeliveryData" asp-action="CreateUserDeliveryData" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" value=@Model.UserId asp-for="UserId" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="PostalIndex" class="control-label"></label>
                <input asp-for="PostalIndex" class="form-control" />
                <span asp-validation-for="PostalIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="House" class="control-label"></label>
                <input asp-for="House" class="form-control" />
                <span asp-validation-for="House" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apartments" class="control-label"></label>
                <input asp-for="Apartments" class="form-control" />
                <span asp-validation-for="Apartments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button asp-controller="UserDeliveryData" asp-action="CreateUserDeliveryData" type="submit" class="btn btn-primary">Add entry</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-controller="UserDeliveryData" asp-action="GetAllUserDeliveryData">Back</a>
</div>