@model string

<div class="container">
    <div class="row">
        <div class="col-4">
            <h4 class="my-3">Create New Role</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="CreateRole" method="post">
                <div class="form-group">
                    <label for="name">New Role</label>
                    <input name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Add role</button>
            </form>
        </div>
    </div>
</div>